/*Facebook*/
.btn-facebook {
    color: #fff !important;
    background: #39579b;
}

/*VK*/
.btn-vk {
    color: #fff !important;
    background: #2787f5;
}

/*Telegram*/
.btn-telegram {
    color: #fff !important;
    background: #23a2df;
}

/*Twitter*/
.btn-twitter {
    color: #fff !important;
    background: #55acee;
}

/*Google*/
.btn-google {
    color: #fff !important;
    background: #dd4b39;
}

/*Yandex*/
.btn-yandex {
    color: #fff !important;
    background: #fc3f1d;
}
