div.content div.fourth div {
    &.image img {
        top: -400px;
        width: 100%;
    }

    &.box {
        background: #2659BE;
        border-radius: 8px;
        margin: 0 auto;
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;

        div.part:not(:last-child) {
            border-right: solid white 1px;
        }
    }
}

@media (max-width: 767px) {
    div.content div.fourth div {
        &.block img.absolute {
            position: inherit;
            top: 10px;
        }

        &.box div.part:not(:last-child) {
            border-right: none;
            border-bottom: solid white 1px;
        }
    }
}

@media (max-width: 992px) {
    div.content div.fourth div {
        &.image img {
            top: -150px;
        }

        &.box p {
            font-size: 14px !important;
            line-height: 20px !important;
        }
    }
}

@media (max-width: 2000px) {
    div.content div.fourth div.row.block {
        background: linear-gradient(311.93deg, #013398 49.86%, #306FED 102.75%);
        box-shadow: 0 20px 30px rgb(83 122 200 / 72%);
        border-radius: 20px;
    }
}
