div.content div.sixth {
    div {
        &.col div {
            &.header {
                height: 350px;
            }

            &.button {
                margin-bottom: 0;
                margin-top: auto;
            }
        }

        &.content.wrapperbox {
            margin: 0 auto;
            box-shadow: 0 20px 30px rgb(77 68 68 / 12%);
            border-radius: 20px;
            background: white;

            .box .header {
                border-radius: 14px;
                background: #003399;
            }
        }
    }

    ul li {
        margin-bottom: 20px;
    }

    div.content ul li.donthave:before {
        color: #9A9A9A;
    }
}

@media (max-width: 767px) {
    div.content div.sixth div {
        &.content ul li {
            &.have p {
                display: inline-block;
                margin-left: 10px;
                margin-bottom: 0;
            }

            margin-bottom: 5px;

            &.donthave:before {
                display: none;
            }
        }

        &.col div.header {
            height: auto !important;
        }
    }
}

@media (max-width: 992px) {
    div.content div.sixth div.content ul:not(#services) li:first-child h3 {
        font-size: 12px !important;
    }
}

@media (max-width: 2000px) {
    div.content div.sixth div.content ul {
        li p {
            display: none;
        }

        &:not(#services) li:not(:first-child):before {
            content: "\f00c";
            font-weight: bold;
            font-family: "Font Awesome 5 Free", serif;
        }

        li.have:before {
            color: #FEBA53;
        }
    }
}
