@media (max-width: 767px) {
    .owl-theme .owl-dots .owl-dot {
        &.active span {
            background-color: #FEBA53;
        }

        span {
            background-color: rgba(254, 186, 83, 0.36);
        }
    }

    .owl-carousel div.item {
        .image {
            height: 200px;
        }

        img {
            height: 100%;
            width: auto;
            margin: auto;
        }
    }
}
